<!DOCTYPE html>
<html>
  <head>
    <title>Blogger2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id=topBar> 
  		<h1><%= @title %></h1> 
  		<p>Blogger2 tutorial by <a href="http://tutorials.jumpstartlab.com/projects/blogger.html">JumpStartlab</a></p>
  	</div>
    <div id=content>
      <p class="flash"><%= flash.notice %></p>
      <%= yield %>  
    </div>
    <div id=bottomBar>built by Manuel</div>
  </body>
</html>
